{% load static %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/style.scss' %}">
    {% endcompress %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'story_list' %}">Stories</a></li>
            <li><a href="{% url 'statistics' %}">Statistics</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'author_dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'logout' %}">Logout ({{ user.username }})</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="container">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="message {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        
        {% block content %}{% endblock %}
    </div>
</body>
</html>